@import "../../../style/variabels.scss";
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f0f2f5;
  background: #0000;
  height: 100%;
}
.footer {
  background: #ffff;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 30px;
      margin: 10px;
    }
  }
}
