// bg
$bg-dark: #0000;
$bg-dark-ntf: #16181c;
$bg-with: #ffff;
$bg-with-ntf: #3b3f43;
$bordur: 1px solid #2f3336;
$bg-btn: #1d9bf0;
// text color
$color-dark: #e7e9ea;
$color-with: #0f1419;
$color-with-side: #3b3f43;
$color-btn: #3b3f43;
